
@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Anasayfa/İstatistikler</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home",new {Area="admin"})">Anasayfa</a></li>
                        <li class="breadcrumb-item active">AdminPanel</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@TempData["MovieCount"]</h3>
                            <p>Film Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-film"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@TempData["SeriesCount"]</h3>
                            <p>Dizi Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-video"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@TempData["VideoGameCount"]</h3>
                            <p>Video Oyun Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-gamepad"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@TempData["BookCount"]</h3>
                            <p>Roman Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-book"></i>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@TempData["CategoryCount"]</h3>
                            <p>Kategori Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-list"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@TempData["MainCategoryCount"]</h3>
                            <p>Ana Kategori Sayısı
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <p style="font-weight:700;">@TempData["LastAddedMovieName"]</p>
                            
                            <p>En son Eklenen Film</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <p style="font-weight:700;">@TempData["LastAddedSeriesName"]</p>
                         
                            <p style="color:white;">En son Eklenen Dizi</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <p style="font-weight:700;">@TempData["LastAddedVideoGameName"]</p>
                            <br />
                            <p style="color:white;">En son Eklenen Video Oyunu</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                       
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <p style="font-weight:700;">@TempData["LastAddedBookName"]</p>
                            <br />
                            <p style="color:white;">En son Eklenen Roman</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                       
                    </div>
                </div>
               
            </div>
        </div> 
    </section>




    </div>